.cep-info {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    align-items: center;
}

input {
    display: block;
    width: 12vw;
    font-size: 1.5rem;
    font-weight: 100;
    border: 0;
    background-color: #E0E0E0;
    color:rgb(80, 80, 80);
    border-radius: 0.7vh;
    outline: none;
}

h2 {
    margin: 0;
}